<p id="notice"><%= notice %></p>

<h1>Listing Donations</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Amount</th>
      <th>Chapter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.name %></td>
        <td><%= donation.email %></td>
        <td><%= donation.street %></td>
        <td><%= donation.city %></td>
        <td><%= donation.state %></td>
        <td><%= donation.zip %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.chapter %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
