<%=image_tag image_url('wwcLogo.png')%>
<p><%=@date%></p>

<p><%=@donation.name%></p>
<p><%=@donation.street%></p>
<p><%=@donation.city%>, <%=@donation.state%> <%=@donation.zip%></p>

<p><%=@donation.name%> –</p>

<p>I would like to thank you for your donation of $<%=@donation.amount%>. Your
generous gift exponentially impacts the programs we offer to empower women
to pursue careers in the technology sector.</p>

<p>With your support, we are able to provide a free professional community for
women in tech which aides and supports their success. In addition, your
donation positively fuels our growth, development, and goal of connecting
one million in technology careers.</p>

<p>On behalf of the Women Who Code Board of Executives, our leadership team,
and our members worldwide I thank you for furthering our mission and
supporting our community of women in tech. We appreciate and value your
contribution and continued support.</p>

<p>Warmly,</p><br>

<p>Alaina Percival</p>
<p>Chief Executive Officer & Board Chair</p>
<p>Women Who Code, Inc.</p>